examples/helper_climate.json
[
  {
    "id": "c16b0ae576a8ea46",
    "type": "tab",
    "label": "Helper Climate",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2ee35a20030c34b2",
    "type": "helper-heating-controller",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "version": "0.27.1",
    "migrated": false,
    "topic": "topic",
    "topicType": "msg",
    "statusReportingEnabled": true,
    "statusItem": "heatingStatus",
    "statusTextItem": "heatingStatusText",
    "debounce": false,
    "debounceTopic": false,
    "debounceTime": 100,
    "debounceShowStatus": false,
    "debounceUnit": "ms",
    "debounceLeading": false,
    "debounceTrailing": true,
    "filterUniquePayload": false,
    "newMsg": false,
    "outputs": 3,
    "inputs": 1,
    "matchers": [
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "schedule_room",
        "compareType": "str",
        "target": "activeCondition"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "presence",
        "compareType": "str",
        "target": "activeCondition"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_comfort_number",
        "compareType": "str",
        "target": "comfortTemperature"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_eco_offset_number",
        "compareType": "str",
        "target": "ecoTemperatureOffset"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "startsWith",
        "compare": "window",
        "compareType": "str",
        "target": "windowOpen"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_heatmode_select",
        "compareType": "str",
        "target": "manualControl"
      },
      {
        "targetType": "str",
        "property": "command",
        "propertyType": "msg",
        "operation": "notEmpty",
        "compare": "",
        "compareType": "str",
        "target": "command"
      }
    ],
    "discardNotMatched": true,
    "join": false,
    "minMsgCount": 1,
    "reactivateEnabled": true,
    "pause": "10",
    "pauseUnit": "s",
    "defaultActive": false,
    "boostEnabled": true,
    "boostTemperatureOffset": 5,
    "frostProtectionTemperature": 8,
    "pvBoostEnabled": false,
    "pvBoostTemperatureOffset": 1,
    "comfortCommand": "Komfort",
    "ecoCommand": "Absenk",
    "boostCommand": "Boost",
    "frostProtectionCommand": "Frostschutz",
    "x": 630,
    "y": 420,
    "wires": [
      [
        "3ba12dfc100b7697"
      ],
      [
        "c172755f33dbd131"
      ],
      [
        "23cc7dbf8407c5d7"
      ]
    ]
  },
  {
    "id": "08467aa9270b32cc",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "schedule_room",
    "payload": "true",
    "payloadType": "bool",
    "x": 290,
    "y": 80,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "5de713372864d334",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "schedule_room",
    "payload": "false",
    "payloadType": "bool",
    "x": 290,
    "y": 120,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "9058491fd0d4694a",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "presence",
    "payload": "true",
    "payloadType": "bool",
    "x": 270,
    "y": 160,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "d16060fa54ec1a98",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "presence",
    "payload": "false",
    "payloadType": "bool",
    "x": 280,
    "y": 200,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "f129a2cd81f4ef49",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_comfort_number",
    "payload": "21",
    "payloadType": "num",
    "x": 240,
    "y": 260,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "fe4e0c646d288e4f",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_comfort_number",
    "payload": "22",
    "payloadType": "num",
    "x": 240,
    "y": 300,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "389d45ec3acc891e",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_eco_offset_number",
    "payload": "-1",
    "payloadType": "num",
    "x": 250,
    "y": 340,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "5fefc09e55dd0c17",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_eco_offset_number",
    "payload": "-2",
    "payloadType": "num",
    "x": 250,
    "y": 380,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "3ba12dfc100b7697",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "ha_heatmode_select",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 920,
    "y": 340,
    "wires": []
  },
  {
    "id": "c172755f33dbd131",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "ha_setpoint_temperature",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 930,
    "y": 400,
    "wires": []
  },
  {
    "id": "23cc7dbf8407c5d7",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "window_open",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 900,
    "y": 460,
    "wires": []
  },
  {
    "id": "a2646ca7f70cf3a1",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Komfort",
    "payloadType": "str",
    "x": 240,
    "y": 440,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "ca1bb0916040c1c2",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Absenk",
    "payloadType": "str",
    "x": 240,
    "y": 480,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "e3e87388c7d0f93b",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Boost",
    "payloadType": "str",
    "x": 230,
    "y": 520,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "49b1d175efc49625",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Frostschutz",
    "payloadType": "str",
    "x": 250,
    "y": 560,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "912bc76f8770c3f6",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "command",
        "v": "unblock",
        "vt": "str"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_unblock_button",
    "x": 290,
    "y": 620,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "7aa42656b2c01125",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window1_binary",
    "payload": "true",
    "payloadType": "bool",
    "x": 290,
    "y": 680,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "f8c09063e0e83426",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window1_binary",
    "payload": "false",
    "payloadType": "bool",
    "x": 300,
    "y": 720,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "da11ff1382147ae8",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window2_binary",
    "payload": "true",
    "payloadType": "bool",
    "x": 290,
    "y": 760,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "f9379e759c76585d",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window2_binary",
    "payload": "false",
    "payloadType": "bool",
    "x": 300,
    "y": 800,
    "wires": [
      [
        "2ee35a20030c34b2"
      ]
    ]
  },
  {
    "id": "17b52eb0b0876c80",
    "type": "helper-heating-controller",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "version": "0.27.1",
    "migrated": false,
    "topic": "topic",
    "topicType": "msg",
    "statusReportingEnabled": false,
    "statusItem": "",
    "statusTextItem": "",
    "debounce": false,
    "debounceTopic": false,
    "debounceTime": 100,
    "debounceShowStatus": false,
    "debounceUnit": "ms",
    "debounceLeading": false,
    "debounceTrailing": true,
    "filterUniquePayload": false,
    "newMsg": false,
    "outputs": 3,
    "inputs": 1,
    "matchers": [
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_comfort_number",
        "compareType": "str",
        "target": "comfortTemperature"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_eco_offset_number",
        "compareType": "str",
        "target": "ecoTemperatureOffset"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "startsWith",
        "compare": "window",
        "compareType": "str",
        "target": "windowOpen"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "ha_heatmode_select",
        "compareType": "str",
        "target": "manualControl"
      },
      {
        "targetType": "str",
        "property": "command",
        "propertyType": "msg",
        "operation": "notEmpty",
        "compare": "",
        "compareType": "str",
        "target": "command"
      },
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "pv_boost",
        "compareType": "str",
        "target": "pvBoost"
      }
    ],
    "discardNotMatched": true,
    "join": false,
    "minMsgCount": 1,
    "reactivateEnabled": false,
    "pause": 1,
    "pauseUnit": "h",
    "defaultActive": true,
    "boostEnabled": true,
    "boostTemperatureOffset": 5,
    "frostProtectionTemperature": 8,
    "pvBoostEnabled": true,
    "pvBoostTemperatureOffset": 1,
    "comfortCommand": "Komfort",
    "ecoCommand": "Absenk",
    "boostCommand": "Boost",
    "frostProtectionCommand": "Frostschutz",
    "x": 650,
    "y": 1280,
    "wires": [
      [
        "ac3801281720b6e5"
      ],
      [
        "c01bcd13b0c4a02e"
      ],
      [
        "525b35426b632c6f"
      ]
    ]
  },
  {
    "id": "fc6f7d7f5fb81370",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_comfort_number",
    "payload": "21",
    "payloadType": "num",
    "x": 220,
    "y": 880,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "7b3e095ee4844ecd",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_comfort_number",
    "payload": "22",
    "payloadType": "num",
    "x": 220,
    "y": 920,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "548b1ddd805175a4",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_eco_offset_number",
    "payload": "-1",
    "payloadType": "num",
    "x": 230,
    "y": 960,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "9a9428086baeccec",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_eco_offset_number",
    "payload": "-2",
    "payloadType": "num",
    "x": 230,
    "y": 1000,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "ac3801281720b6e5",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "ha_heatmode_select",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 960,
    "y": 1180,
    "wires": []
  },
  {
    "id": "c01bcd13b0c4a02e",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "ha_setpoint_temperature",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 970,
    "y": 1240,
    "wires": []
  },
  {
    "id": "525b35426b632c6f",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "window_open",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 940,
    "y": 1300,
    "wires": []
  },
  {
    "id": "8f0845b95e54d7b0",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Komfort",
    "payloadType": "str",
    "x": 220,
    "y": 1060,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "6be429142e2c899d",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Absenk",
    "payloadType": "str",
    "x": 220,
    "y": 1100,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "103e0dd3829cd5c3",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Boost",
    "payloadType": "str",
    "x": 210,
    "y": 1140,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "a67682af526446c2",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_heatmode_select",
    "payload": "Frostschutz",
    "payloadType": "str",
    "x": 230,
    "y": 1180,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "3e157b3668ce322f",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "command",
        "v": "unblock",
        "vt": "str"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "ha_unblock_button",
    "x": 270,
    "y": 1240,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "265cef0c27eaef9d",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window1_binary",
    "payload": "true",
    "payloadType": "bool",
    "x": 270,
    "y": 1300,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "111971fe4224f271",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window1_binary",
    "payload": "false",
    "payloadType": "bool",
    "x": 280,
    "y": 1340,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "66fd0c59f182b4ba",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window2_binary",
    "payload": "true",
    "payloadType": "bool",
    "x": 270,
    "y": 1380,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "5e21bd5e7cef5778",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "window2_binary",
    "payload": "false",
    "payloadType": "bool",
    "x": 280,
    "y": 1420,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "3c6ae3e6a32d8b94",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "pv_boost",
    "payload": "true",
    "payloadType": "bool",
    "x": 310,
    "y": 1480,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "4ad943d779d23d47",
    "type": "inject",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "pv_boost",
    "payload": "false",
    "payloadType": "bool",
    "x": 310,
    "y": 1520,
    "wires": [
      [
        "17b52eb0b0876c80"
      ]
    ]
  },
  {
    "id": "8409053b1e77fea5",
    "type": "flowctrl-status",
    "z": "c16b0ae576a8ea46",
    "name": "",
    "version": "0.28.0",
    "migrated": false,
    "topic": "topic",
    "topicType": "msg",
    "initializeDelay": "",
    "initializeDelayUnit": "",
    "statusReportingEnabled": false,
    "statusItem": "",
    "statusTextItem": "",
    "debounce": false,
    "debounceTopic": false,
    "debounceTime": 100,
    "debounceShowStatus": false,
    "debounceUnit": "ms",
    "debounceLeading": false,
    "debounceTrailing": true,
    "filterUniquePayload": true,
    "newMsg": false,
    "outputs": 2,
    "inputs": 1,
    "matchers": [
      {
        "targetType": "str",
        "property": "topic",
        "propertyType": "msg",
        "operation": "eq",
        "compare": "",
        "compareType": "str",
        "target": "activeCondition"
      }
    ],
    "discardNotMatched": true,
    "join": false,
    "minMsgCount": 1,
    "scope": "group",
    "initialActive": true,
    "x": 610,
    "y": 140,
    "wires": [
      [
        "6a18ea2d2104e087"
      ],
      [
        "819fcaaa4b04964a"
      ]
    ]
  },
  {
    "id": "6a18ea2d2104e087",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "Heizungssteuerung",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "{\"k\":topic, \"v\":payload}",
    "statusType": "jsonata",
    "x": 790,
    "y": 120,
    "wires": []
  },
  {
    "id": "819fcaaa4b04964a",
    "type": "debug",
    "z": "c16b0ae576a8ea46",
    "name": "Heizungssteuerung",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 790,
    "y": 180,
    "wires": []
  }
]
