examples/operator,json
[
    {
        "id": "360c18ffc8a50fc1",
        "type": "tab",
        "label": "Operators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ad7263e9bf4b599",
        "type": "group",
        "z": "360c18ffc8a50fc1",
        "name": "Arithmetic tests",
        "style": {
            "label": true
        },
        "nodes": [
            "b72b9ddc20c89a59",
            "e2e29136b08496c3",
            "45196367ec687057",
            "aad11bd7654a0916",
            "afa88ca8f893adca",
            "efbb18a49fe94b2f",
            "c93bf904e2d1f5f7",
            "79fa1776f2e04eb7",
            "f9104458e2a5effe",
            "1fe5f73be9f67da3",
            "6f7bd1c5f68a0913",
            "c21dbe7bee8791f2",
            "d5bbd7bda5f3ad5b",
            "dffc66765bbc6309",
            "0880d65e8580329c",
            "831b1660fbc7c3bb",
            "4d7c681b16db47e2",
            "1aeb65ba2c5f17b3",
            "c452532afad40e20",
            "f22157f568759bb8",
            "01b735e9b07c1507",
            "552bd65932e87d12",
            "6dc4b03be844d5a6",
            "0d80ba80d15afd3b",
            "310eb794413ef4fc",
            "abe344bfd285f0b9",
            "fda091685521a727",
            "3ac1ae140f289f82",
            "c7de8fe8b90be18b"
        ],
        "x": 34,
        "y": 39,
        "w": 572,
        "h": 1102
    },
    {
        "id": "b72b9ddc20c89a59",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "starts_with",
                "compare": "test",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "add",
        "minValueCount": "1",
        "precision": 0,
        "additionalValues": [
            {
                "value": "100",
                "valueType": "num"
            },
            {
                "value": "200",
                "valueType": "num"
            }
        ],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "aad11bd7654a0916"
            ]
        ]
    },
    {
        "id": "e2e29136b08496c3",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b72b9ddc20c89a59"
            ]
        ]
    },
    {
        "id": "45196367ec687057",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test2",
        "payload": "2.13",
        "payloadType": "num",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b72b9ddc20c89a59"
            ]
        ]
    },
    {
        "id": "aad11bd7654a0916",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "sum_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "afa88ca8f893adca",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "starts_with",
                "compare": "test2",
                "compareType": "str",
                "target": "minuend"
            },
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "eq",
                "compare": "test1",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "sub",
        "minValueCount": "1",
        "precision": "1",
        "additionalValues": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "79fa1776f2e04eb7"
            ]
        ]
    },
    {
        "id": "efbb18a49fe94b2f",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "afa88ca8f893adca"
            ]
        ]
    },
    {
        "id": "c93bf904e2d1f5f7",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test2",
        "payload": "2.13",
        "payloadType": "num",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "afa88ca8f893adca"
            ]
        ]
    },
    {
        "id": "79fa1776f2e04eb7",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "difference_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "f9104458e2a5effe",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "eq",
                "compare": "test1",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "mul",
        "minValueCount": "1",
        "precision": "1",
        "additionalValues": [
            {
                "value": "10",
                "valueType": "num"
            }
        ],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "6f7bd1c5f68a0913"
            ]
        ]
    },
    {
        "id": "1fe5f73be9f67da3",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "f9104458e2a5effe"
            ]
        ]
    },
    {
        "id": "6f7bd1c5f68a0913",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "multiplication_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "c21dbe7bee8791f2",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "eq",
                "compare": "test1",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "round",
        "minValueCount": "1",
        "precision": "1",
        "additionalValues": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "dffc66765bbc6309"
            ]
        ]
    },
    {
        "id": "d5bbd7bda5f3ad5b",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "2.13",
        "payloadType": "num",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "c21dbe7bee8791f2"
            ]
        ]
    },
    {
        "id": "dffc66765bbc6309",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "round_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "0880d65e8580329c",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "starts_with",
                "compare": "test",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "mean",
        "minValueCount": "2",
        "precision": "1",
        "additionalValues": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "1aeb65ba2c5f17b3"
            ]
        ]
    },
    {
        "id": "831b1660fbc7c3bb",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "0880d65e8580329c"
            ]
        ]
    },
    {
        "id": "4d7c681b16db47e2",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test2",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "0880d65e8580329c"
            ]
        ]
    },
    {
        "id": "1aeb65ba2c5f17b3",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "mean_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 470,
        "y": 640,
        "wires": []
    },
    {
        "id": "c452532afad40e20",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test3",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "0880d65e8580329c"
            ]
        ]
    },
    {
        "id": "f22157f568759bb8",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "starts_with",
                "compare": "test",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "min",
        "minValueCount": "2",
        "precision": "1",
        "additionalValues": [],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "6dc4b03be844d5a6"
            ]
        ]
    },
    {
        "id": "01b735e9b07c1507",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "f22157f568759bb8"
            ]
        ]
    },
    {
        "id": "552bd65932e87d12",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test2",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "f22157f568759bb8"
            ]
        ]
    },
    {
        "id": "6dc4b03be844d5a6",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "minimum_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "0d80ba80d15afd3b",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test3",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "f22157f568759bb8"
            ]
        ]
    },
    {
        "id": "310eb794413ef4fc",
        "type": "operator-arithmetic",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "topic": "topic",
        "topicType": "msg",
        "debounce": false,
        "debounceTopic": false,
        "debounceTime": 100,
        "debounceShowStatus": false,
        "debounceUnit": "ms",
        "debounceLeading": false,
        "debounceTrailing": true,
        "filterUniquePayload": false,
        "newMsg": false,
        "outputs": 1,
        "inputs": 1,
        "matchers": [
            {
                "targetType": "str",
                "property": "topic",
                "propertyType": "msg",
                "operator": "starts_with",
                "compare": "test",
                "compareType": "str",
                "target": "value"
            }
        ],
        "discardNotMatched": true,
        "join": false,
        "minMsgCount": 1,
        "operation": "max",
        "minValueCount": "2",
        "precision": "1",
        "additionalValues": [],
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "3ac1ae140f289f82"
            ]
        ]
    },
    {
        "id": "abe344bfd285f0b9",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test1",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "310eb794413ef4fc"
            ]
        ]
    },
    {
        "id": "fda091685521a727",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test2",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "310eb794413ef4fc"
            ]
        ]
    },
    {
        "id": "3ac1ae140f289f82",
        "type": "debug",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "maximum_test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 480,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c7de8fe8b90be18b",
        "type": "inject",
        "z": "360c18ffc8a50fc1",
        "g": "4ad7263e9bf4b599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test3",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "310eb794413ef4fc"
            ]
        ]
    }
]